
canvas { 
    box-sizing: border-box;
    font-family: "Musicaf";
 }
 .load {
     font-family: "Musicaf";
    visibility: hidden;
    height: 0px;
 }

.load2{
    font-family: "BravuraF";
    visibility: hidden;
    height: 0px;
}
html, body {
    z-index: 0;
    height: 100%;
    padding: 0px;
    margin: 0px;
    font-family: "Musicaf";
    background-color: #D1D0D0!important;
    box-sizing: border-box;
}
#dialog{
    transition: top 300ms ease-out;
}
canvas.principal {
    z-index: 1;
    position: absolute;
    background-color: white;
    margin-top: 90px;
    margin-left: 60px;
}
canvas.save {
    z-index: 0;
    position: fixed;
    display: none;
}

/* INTERFACE */

.overlay{
    position: absolute;
    left: 0;
    top: 0;
    z-index: 0;
    /* pointer-events: none; */
    display: grid;
    width: 100%;
    height: 100%;
    grid-template-columns: 50px auto;
    grid-template-rows: 80px auto;
    grid-template-areas: "topbar topbar"
    "leftbar sheet"
}

.leftbar {
    grid-area: leftbar;
    display: grid;
    justify-self: stretch;
    position: relative;
    align-self: stretch;
    background-color: #2d2a2e;
    grid-template-columns: 50px;
    grid-template-rows: 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px 50px;
    grid-row-gap: 4px;
    overflow: auto;
}

.optn{
    /* padding: 5px; */
    position: relative;
    background-color: #ffd866;
    color: #19181a;
    font-family: 'MusicaF';
    font-size: 30px;
    text-align: center;
    border-radius: 3px;
    margin: 4px;
    cursor: pointer;
    border: none;
    
}

.optn.rest span {
    font-size: 40px;
    position: relative;
    bottom: 17px
}

.optn.dot {
    font-size: 50px;
}

.optn.cross span {
    position: relative;
    bottom:0;
    margin: 0
}

.optn.dot span {
    margin: 0px;
    right: 22px;
    bottom: 2px;
}

.optn.tie span{
    margin: 0px;
    left: 7px;
}

.optn.acc span {
    bottom: 8px; 
}

.optn span {
    position: absolute;
    bottom:5px;
    margin: -4px;
}

.optn.focus {
    background-color: #e8e8e8;
    outline: none !important;
}

.optn:focus {
    outline: none !important;
}


.topbar{
    grid-area:topbar;
    justify-self: stretch;
    align-self: stretch;
    background-color: #3d373e;
    font-family: "BravuraF";
    display: grid;
    grid-template-rows: 30px 50px;
    grid-template-columns: 50px 65px 65px 65px 65px auto 40px 40px 40px 40px;
    grid-column-gap: 4px;
}

.topbar > button > span {
    position: relative;
    bottom: 0
}

.optn.add {
    grid-row: 2;
    grid-column: 2; 
}

.optn.remove {
    grid-row: 2;
    grid-column: 3; 
}

.optn.remove span, .optn.add span, .optn.bar-acc span {
    bottom: 2px;
}

.big {
    font-size:50px;
    bottom: -3px!important;
}

.optn.time-sig {
    grid-row: 2;
    grid-column: 4;
}

.optn.bar-acc {
    grid-row: 2;
    grid-column: 5;
}

.optn.right-arrow {
    font-size: 25px;
    grid-row:2;
    grid-column: -2;
}

.optn.left-arrow {
    font-size: 25px;
    grid-row:2;
    grid-column: -3;
}

.top-img {
    grid-row:2;
    grid-column: 1;
    width: 40px;
    align-self: center;
    justify-self: center;
}

.optn.new {
    font-size: 20px;
    grid-row:2;
    grid-column: -4;
}

.optn.play {
    font-size: 20px;
    grid-row:2;
    grid-column: -5;
}