<!DOCTYPE html>
<html lang="pt">
<html>
<head>
	<title>Teste</title>

	<meta charset="utf-8">
	<link href="https://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>

	<style type="text/css">
		html, body {
		  height: 100%;
		  font-family: 'Montserrat', sans-serif;
		 background-color: #7657B5; 
		}

		.min-100 {
		    min-height: 100%;
		    height: 100%;
		   	max-height: 100%;
		}

		.min-50 {
		    min-height: 50%;
		    height: 50%;
		}



		.bg-blue {
			background-color: #7657B5;
			color: white;
		}

		.bg-blue  a {
			color: #DAD7E1;
		}

		.custom-file-label{
			overflow: hidden;
		}

		.navbar-nav > li {
			padding-left: 20px;
			padding-right: 20px;
		}
	</style>
</head>
<body>
		<nav class="navbar bg-blue navbar-expand-md fixed-top" >
			<a class="navbar-brand"><img src="./logo46.png" width="60px"></a>

			<button type="button" class="navbar-toggler navbar-dark" data-toggle='collapse' data-target='#navtog1'>
				<span class="navbar-toggler-icon navbar-dark"></span>
			</button>

			<div  class="collapse navbar-collapse" id='navtog1'>
				<ul class="navbar-nav ml-auto" style="">
				    <li class="nav-item text-center">
				      <a  class="nav-link" href="#">Home</a>
				    </li>
				    <li class="nav-item text-center">
				      <a class="nav-link" href="#">Contactos</a>
				    </li>
				    <li class="nav-item text-center">
				      <a class="nav-link" href="#">Sobre Nós</a>
				    </li>
		  		</ul>
			</div>

			
		</nav>

	<div class="container-fluid min-100 bg-blue" style="padding-top: 100px" style="overflow: hidden;">
		<div class="d-flex flex-column min-100" style="overflow: ">
			<div class='text-md-center '>
				<h1 class="text-center">Resolvemos os seus problemas.</h1>
				<p class="text-center mb-0">Aqui na BoringCompany tratamos de todos os seus problemas, digitais ou analogicos!</p>
			</div>

			<div class="text-center" ><img class='img-fluid' style="overflow: hidden;" src="./how-to-setup-website.png"></div>
		</div>
		

		<script>
            $('#img').on('change',function(){
                //get the file name
                var fileName = $(this).val();
                //replace the "Choose a file" label
                $(this).next('.custom-file-label').html(fileName);
            })
        </script>

	</div>
	<div class="container-fluid min-100 bg-white">
		<form  action='fileupload' method='post' enctype="multipart/form-data">
			<div class='custom-file'>
				<input type="file" class="custom-file-input" name="img" id='img'>
				<label class='custom-file-label' for='img'>Escolhe um ficheiro</label>
				<input type="submit" name="sub">
			</div>
		</form>
		<form action="" method="get">
			<input type="submit" name="mail">
		</form>
	</div>

</body>
</html>